
owner = "Meat Carver"

login = ("firstname", "lastname", "password")

addr = ("DevoBot", "stephen.mc@gmail.com")

settings = {
	"Settings.ALWAYS_REQUEST_OBJECTS": True, # for prim updates
	"Settings.ALWAYS_DECODE_OBJECTS": True, # for follow
	"Settings.SEND_AGENT_UPDATES": True, # ends movement
	"Settings.STORE_LAND_PATCHES": False,
	"Settings.SEND_PINGS": False,
	"Settings.MULTIPLE_SIMS": False,
	"Self.Movement.Camera.Far": 1,
	"Throttle.Asset": 0,
	"Throttle.Cloud": 0,
	"Throttle.Land": 0,
	"Throttle.Resend": 0,
	"Throttle.Task": 0,
	"Throttle.Texture": 0,
	"Throttle.Total": 0,
	"Throttle.Wind": 0,
}

events = (
#	"Appearance.OnAgentWearables",
#	"Appearance.OnAppearanceUpdated",
#	"Assets.OnAssetReceived",
#	"Assets.OnAssetUploaded",
#	"Assets.OnImageReceiveProgress",
#	"Assets.OnImageReceived",
#	"Assets.OnUploadProgress",
#	"Assets.OnXferReceived",
#	"Avatars.OnAvatarAnimation",
#	"Avatars.OnAvatarAppearance",
#	"Avatars.OnAvatarGroups",
#	"Avatars.OnAvatarInterests",
#	"Avatars.OnAvatarNameSearch",
#	"Avatars.OnAvatarNames",
#	"Avatars.OnAvatarPicks",
#	"Avatars.OnAvatarProperties",
#	"Avatars.OnEffect",
#	"Avatars.OnLookAt",
#	"Avatars.OnPickInfo",
#	"Avatars.OnPointAt",
#	"Directory.OnClassifiedReply",
#	"Directory.OnDirGroupsReply",
#	"Directory.OnDirLandReply",
#	"Directory.OnDirPeopleReply",
#	"Directory.OnEventInfo",
#	"Directory.OnPlacesReply",
#	"Grid.OnCoarseLocationUpdate",
#	"Grid.OnGridItems",
#	"Grid.OnGridLayer",
#	"Grid.OnGridRegion",
#	"Grid.OnRegionHandleReply",
#	"Groups.OnCurrentGroups",
#	"Groups.OnGroupAccountSummary",
#	"Groups.OnGroupCreated",
#	"Groups.OnGroupDropped",
#	"Groups.OnGroupJoined",
#	"Groups.OnGroupLeft",
#	"Groups.OnGroupMemberEjected",
#	"Groups.OnGroupMembers",
#	"Groups.OnGroupNames",
#	"Groups.OnGroupNoticesList",
#	"Groups.OnGroupProfile",
#	"Groups.OnGroupRoles",
#	"Groups.OnGroupRolesMembers",
#	"Groups.OnGroupTitles",
#	"Inventory.OnFindObjectByPath",
#	"Inventory.OnFolderUpdated",
#	"Inventory.OnItemReceived",
#	"Inventory.OnObjectOffered",
#	"Inventory.OnTaskInventoryReply",
#	"Inventory.OnTaskItemReceived",
#	"Network.OnConnected",
#	"Network.OnCurrentSimChanged",
#	"Network.OnDisconnected",
#	"Network.OnEventQueueRunning",
#	"Network.OnLogin",
#	"Network.OnPacketSent",
#	"Network.OnSimConnected",
#	"Network.OnSimConnecting",
#	"Network.OnSimDisconnected",
#	"Objects.OnNewAttachment",
#	"Objects.OnNewAvatar",
#	"Objects.OnNewPrim",
#	"Objects.OnObjectProperties",
#	"Objects.OnObjectPropertiesFamily",
#	"Objects.OnObjectUpdated",
#	"Parcels.OnParcelDwell",
#	"Parcels.OnParcelInfo",
#	"Parcels.OnParcelProperties",
#	"Self.OnAlertMessage",
#	"Self.OnAnimationsChanged",
#	"Self.OnAvatarSitResponse",
#	"Self.OnCameraConstraint",
#	"Self.OnChat",
#	"Self.OnChatSessionMemberAdded",
#	"Self.OnChatSessionMemberLeft",
#	"Self.OnGroupChatLeft",
	"Self.OnInstantMessage",
#	"Self.OnLoadURL",
#	"Self.OnMeanCollision",
#	"Self.OnRegionCrossed",
#	"Self.OnScriptDialog",
#	"Self.OnScriptQuestion",
#	"Self.OnScriptSensorReply",
#	"Self.OnTeleport",
#	"Sound.OnAttachSound",
#	"Sound.OnPreloadSound",
#	"Sound.OnSoundTrigger",
#	"Terrain.OnLandPatch",
)

