
# owner's account name for private commands
owner = "Meat Carver"

# list of bot account logins
logins = (
	("firstname1", "lastname1", "password1"),
	("firstname2", "lastname2", "password2"),
)

# bot address (bot name, email address)
addr = ("DevoBot", "stephen.mc@gmail.com")

# libomv client settings
settings = {
	"Settings.ALWAYS_REQUEST_OBJECTS": True, # for prim updates
	"Settings.ALWAYS_DECODE_OBJECTS": True, # for follow
	"Settings.SEND_AGENT_UPDATES": True, # ends movement
	"Settings.STORE_LAND_PATCHES": False,
	"Settings.SEND_PINGS": False,
	"Settings.MULTIPLE_SIMS": False,
	"Self.Movement.Camera.Far": 1,
	"Throttle.Asset": 0,
	"Throttle.Cloud": 0,
	"Throttle.Land": 0,
	"Throttle.Resend": 0,
	"Throttle.Task": 0,
	"Throttle.Texture": 0,
	"Throttle.Total": 0,
	"Throttle.Wind": 0,
}
